# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse
.classpath
.project
.settings/
.factorypath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Java
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example